@import "tailwindcss";

@layer base {
  :root {
    --font-jost: 'Jost', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
  }
}

@layer utilities {
  .font-jost {
    font-family: var(--font-jost);
  }
  .font-manrope {
    font-family: var(--font-manrope);
  }
}

/* scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
